<div class="well">

<h2>{{subject}}</h2>
<h5>Sent From: {{isFrom}}</h5>
<h5>To: {{isTo}}</h5>

<p>{{message}}</p>
</div>


<p {{action "delete"}} class="badge">
  <span class="glyphicon glyphicon-trash"></span>
</p>
